@import 'src/css/variables';

.bar {
  margin: auto;

  background: $bar-color;
}

.slider {
  background: $slider-color;
  transition: width 30ms, height 30ms;
}

.bar:hover,
.slider:hover {
  cursor: pointer;
}

.song-bar {
  height: .6em;
}

.volume-bar {
  width: .5em;
  height: 2.2em;

  // Must rotate 180 degrees as the y axis
  // runs up -> down, not down -> up like you'd think
  transform: rotate(180deg);
}