@import 'src/css/variables';

// This component is in a grid: main-styles.scss, .main-layout

.media-player {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) auto minmax(1em, 1fr);

  margin-bottom: 1em;
}

.media-player > * {
  grid-column: 2 / -2;

  margin: auto;
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-art {
  $image-size: 167.95px;
  object-fit: cover;

  min-width: $image-size;
  max-width: $image-size;
  min-height: $image-size;
  max-height: $image-size;

  margin: 2em auto;

  transition: width 250ms, margin-right 250ms;
}
@media (min-width: $first-cover-art-breakpoint) {
  .cover-art {
    width: 80%;
  }
}
@media (min-width: $second-cover-art-breakpoint) {
  .cover-art {
    width: 85%;
  }
}
@media (min-width: $third-cover-art-breakpoint) {
  .cover-art {
    width: 90%;
  }
}

.song-info {
  font-size: 1rem;

  transition: font-size 250ms;
}

// Align the text to the center at very small screens
@media (max-width: 375px) {
  .song-info {
    text-align: center;
  }
}

.song-title {
  font-size: 1.5em;

  margin: 0;
}

.song-artist,
.song-duration {
  font-size: 1em;
}

.song-artist {
  margin-top: 0;
}

@media (min-width: $first-media-breakpoint) {

  .media-player {
    grid-template: .5fr auto 1fr / 1fr 1fr;

    width: 100%;
  }

  // Media content contains media info, controls, and bar
  .media-content {
    grid-row: 2;
    grid-column: 1;

    flex-direction: row;

    margin-left: 5%;
  }

  .cover-art {
    margin: revert;
  }
  .cover-art {
    // Max width at large screens
    max-width: 167.95px;

    margin-right: 1.5em;
  }

  .song-info {
    font-size: .85rem;
  }
}

@media (min-width: $second-media-breakpoint) {
  .song-info {
    font-size: 1rem;
  }
}