@import 'src/css/variables';

// This component is in a grid: media-player-styles.scss, .media-component

.media-controls {
  width: 90%;
}

.media-control-btns {
  display: grid;
  // Empty 1fr - to even things out
  // On large screens the empty space will not be included
  grid-template-columns: 1fr repeat(6, 1fr);
  grid-column-gap: .5em;
  justify-content: center;
  // Padding instead of margin so the background will block
  // overflowing content from the library
  padding-bottom: .5em;
}

.media-control-btn {
  // Keep media controls below volume bar
  grid-row: 2;

  width: 100%;
  max-width: 60px;
}

.media-control-btn.dark-btn:focus:not(.vol-control-btn),
.media-control-btn.dark-btn:hover:not(.vol-control-btn) {
  background: $primary-accent-color;
}

// On large screens all buttons shift left
.shuffle-btn {
  grid-column: 2;
}

.rewind-btn {
  grid-column: 3;
}

.play-btn,
.pause-btn {
  grid-column: 4;
}

.fast-forward-btn {
  grid-column: 5;
}

.loop-btn {
  grid-column: 6;
}

.volume-bar-area,
.vol-control-btn {
  grid-column: 7;
}

.volume-bar-area {
  grid-row: 1;
}

.vol-control-btn {
  width: 90%;
  // Gives a little bit of space between it and the other media controls
  margin: auto auto auto .25em;
}

@media (min-width: $first-media-breakpoint) {
  .media-controls {
    position: fixed;
    //right: 1em;
    bottom: 0;

    //width: 96%;
    width: 100%;

    padding-bottom: 1em;
  }

  .media-controls > * {
    width: 96%;
  }

  .media-control-btns {
    grid-template-columns: repeat(6, 1fr);

    max-width: max-content;

    padding-top: .25em;
    margin-left: 2%;
  }

  .shuffle-btn {
    grid-column: 1;
  }

  .rewind-btn {
    grid-column: 2;
  }

  .play-btn,
  .pause-btn {
    grid-column: 3;
  }

  .fast-forward-btn {
    grid-column: 4;
  }

  .loop-btn {
    grid-column: 5;
  }

  .volume-bar-area,
  .vol-control-btn {
    grid-column: 6;
  }
}