@import 'src/css/variables';

// This component is in a grid: main-styles.scss, .main-layout

.media-component,
.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-component {
  //color: #fff;

  margin-bottom: 1em;
}

.cover-art {
  width: 75%;
  // Max width at small screens
  max-width: 203px;

  margin: 2em auto;
  border-radius: 25%;
  transition: width 250ms, margin-right 250ms;
}
@media (min-width: $first-cover-art-breakpoint) {
  .cover-art {
    width: 80%;
  }
}
@media (min-width: $second-cover-art-breakpoint) {
  .cover-art {
    width: 85%;
  }
}
@media (min-width: $third-cover-art-breakpoint) {
  .cover-art {
    width: 90%;
  }
}

.song-info {
  font-size: 1rem;

  transition: font-size 250ms;
}

// Align the text to the center at very small screens
@media (max-width: 375px) {
  .song-info {
    text-align: center;
  }
}

.song-title {
  font-size: 1.5em;

  margin: 0;
}

.song-artist,
.song-duration {
  font-size: 1em;
}

.song-artist {
  margin-top: 0;
}

@media (min-width: $first-media-breakpoint) {

  .media-component {
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
  }

  // Media content contains media info, controls, and bar
  .media-content {
    flex-direction: row;

    width: 55%;

    margin: 11% 0 auto 5%;
  }

  .cover-art {
    margin: revert;
  }
  .cover-art {
    // Max width at large screens
    max-width: 167.95px;

    margin-right: 1.5em;
  }

  .song-info {
    font-size: .85rem;
  }
}

@media (min-width: $second-media-breakpoint) {
  .song-info {
    font-size: 1rem;
  }
}