@import 'src/css/variables';

// This component is in a grid: main-styles.scss, .main-layout

.media-component {
  display: grid;
  // row 1: media content
  // row 2: media controls
  // row 3: song bar
  // Columns: spacing content spacing
  grid-template: auto auto auto / minmax(1em, .25fr) auto minmax(1em, .25fr);

  margin-bottom: 1em;
}

.media-component > * {
  grid-column: 2 / -2;
}


.cover-art {
  width: 75%;
  // Max width at small screens
  max-width: 203px;

  margin: 2em auto;
  border-radius: 25%;
  //margin: auto auto 1em auto;
}

.song-info {
  width: max-content;

  margin: auto;
}

.song-info > * {
  width: max-content;
}

.song-title {
  margin: 0;
}

.song-artist {
  margin-top: 0;
}

@media (min-width: $first-media-breakpoint) {
  // Large screens - below
  .media-component {
    grid-template-rows: 1fr auto .5fr auto;
    grid-template-columns: auto;
  }

  .media-component > * {
    width: 45%;
  }

  // Media content contains media info, controls, and bar
  .media-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 10%;
    margin-left: 5%;
  }

  .cover-art {
    margin: revert;
  }
  .cover-art {
    min-width: 103px;

    margin-left: 10%;
  }

  .song-info {
    //width: 100%;
  }
}

// Large screens - below
//.media-component {
//  display: grid;
//  grid-template-rows: 1fr auto .5fr auto;
//}
//
//.media-component > * {
//  width: 45%;
//}
//
//// Media content contains media info, controls, and bar
//.media-content {
//  display: flex;
//  justify-content: space-between;
//  align-items: flex-end;
//
//  //width: 45%;
//
//  margin-top: 10%;
//  margin-left: 5%;
//}
//
//.cover-art {
//  width: 70%;
//  // Max width at small screens
//  max-width: 203px;
//
//  margin-left: 10%;
//  border-radius: 25%;
//  //margin: auto auto 1em auto;
//}
//
//.song-info > * {
//  width: max-content;
//}
//
//.song-title {
//  margin: 0;
//}
//
//.song-artist {
//  margin-top: 0;
//}

//.media-component {
//  // Keep media player at top of screen
//  position: sticky;
//  top: 0;
//
//  max-height: max-content;
//
//  background: #fff;
//  // Adds nice little effect of items fading out
//  // when scrolling
//  box-shadow: 0 .5em 15px rgba(255, 255, 255, 0.8);
//}
//
//.media-player > * {
//  max-width: $max-component-width-small-screens;
//
//  margin: auto;
//}
//
//.cover-art {
//  width: 70%;
//  // Max width at small screens
//  max-width: 203px;
//
//  // Center img but keep a little extra space on bottom
//  margin: auto auto 1em auto;
//}
//
//.song-info > * {
//  margin: 0;
//}
//
//.song-info {
//  display: grid;
//  grid-template-columns: 3fr 1fr;
//  align-items: baseline;
//
//  // Max width at small screens
//  max-width: 296px;
//
//  margin: auto;
//}
//
//.song-title,
//.song-artist {
//  grid-column: 1;
//}
//
//.song-title {
//  font-size: 1rem;
//}
//
//.song-duration {
//  grid-row: 1;
//  grid-column: 2;
//}