@use '../../variables';

.addToPlaylistModal {
  .fallbackText {
    font-weight: 700;
    text-align: center;

    margin-top: 0;
    margin-bottom: 2em;
  }

  .songsInLibrary {
    overflow-y: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;

    min-height: 1vh;
    max-height: 75vh;

    padding-right: 1em;
  }
}