@use '../../variables';

.contextMenuBtn {
  visibility: hidden;

  display: inline-block;

  $btnSize: 30px;
  width: $btnSize;
  height: $btnSize;

  margin-left: auto !important;

  box-shadow: -3px 0 5px #fff;
}

.contextMenuBtnVisible {
  visibility: visible;
}

.contextMenuBtn:hover {
  background: #f0f0f0;
}

.contextMenuBtnSongs{
  grid-row: 1;
  grid-column: 1;
}

.contextMenuBtnPlaylists {
  grid-row: 1;
  grid-column: 1;
}