@use '../../variables';

.contextMenu {
  width: max-content;

  padding: .5em .75em;

  background: #f0f0f0;
}

// TODO The options will have focus
.contextMenu:focus {
  outline: none;
}

.contextMenu > *:hover {
  background: variables.$grayed-out;
}

.contextMenuOption {
  padding: .2em .4em;
  border-radius: 5px;
}

.contextMenu {
  position: fixed;
  z-index: 1;
}

.contextMenuSongs {
  position: absolute;
  left: 0;
  z-index: 1;
}

.contextMenuPlaylists {
  grid-row: 1 / span 2;
  grid-column: 1;

  margin-left: auto;
}