@use '../../variables';

.context-menu {
  width: max-content;

  padding: .5em .75em;

  background: #f0f0f0;
}

// TODO The options will have focus
.context-menu:focus {
  outline: none;
}

.context-menu > *:hover {
  background: variables.$grayed-out;
}

.context-menu-option {
  padding: .2em .4em;
  border-radius: 5px;
}

.songs-directory,
.opened-playlist-directory {

  .context-menu {
    position: absolute;
    left: 0;
    z-index: 1;
  }
}

.playlists-directory {

  .context-menu {
    grid-row: 1 / span 2;
    grid-column: 1;

    margin-left: auto;
  }
}