@use '../../variables';
@use 'DirectoryEntry';

.directoryEntry {
  @include DirectoryEntry.grid;

  grid-template-columns: auto max-content;
}

.directoryEntry > * {
  grid-row: 1;
}

.directoryEntry:not(.directoryEntry:first-child) {
  padding-top: .25em;
  margin-top: .5em;
}

.playlistEntryTitle {
  grid-row: 1;
  grid-column: 1;
}

.playlistEntryTitle {
  word-break: break-word;
}

.playlistEntrySongCount {
  text-align: right;

  grid-column: -1;
}