@use '../../variables';

.directoryEntry {
  composes: directoryEntry from './DirectoryEntry.module.scss';

  position: relative;

  // 2px for the mini song bar
  grid-template: 1fr auto 2px / auto .5fr;

  margin-bottom: 1em;
}

.songEntryTitle {
  grid-row: 1;
}

.songEntryInfo {
  grid-column: 1;
}

.songEntryDuration {
  grid-row: 1;
  grid-column: 2;

  text-align: right;
}

.songEntryArtist {
  grid-row: 2;
}