@use '../variables';

.directory {
  width: 91%;
  max-width: variables.$max-component-width-small-screens;

  padding: 0 .5em;
  margin: auto;
  border: solid;
}

.directoryEntries {
  overflow-y: auto;

  max-height: 35vh;

  padding-right: 1em;
}
@media (min-width: 700px) {
  .directoryEntries {
    max-height: 45vh;
  }
}

.playlistsDirectory > * {
  grid-row: 1;
}