@use '../variables';

.libraryPanelBtn {
  display: none;
}


@media (min-width: variables.$layoutBreakpoint) {
  .libraryPanelBtn {
    top: 10%;
  }

  .libraryPanelBtn {
    display: block;
    position: fixed;
  }

  $libraryButtonMinSize: 30px;
  $libraryButtonMultiplier: 2;
  .openLibraryBtn {
    min-width: $libraryButtonMinSize * $libraryButtonMultiplier;
    min-height: $libraryButtonMinSize * $libraryButtonMultiplier;
    max-width: $libraryButtonMinSize * $libraryButtonMultiplier;
    max-height: $libraryButtonMinSize * $libraryButtonMultiplier;

    top: 15%;
    right: 5%;
  }

  .closeLibraryBtn {
    right: 2%;
    // Keeps the close button above the library and the open button behind it
    z-index: 3;

    min-width: $libraryButtonMinSize;
    min-height: $libraryButtonMinSize;
    max-width: $libraryButtonMinSize;
    max-height: $libraryButtonMinSize;
  }
}