@use '../variables';

.songInfo {
  font-size: 1rem;
  text-align: center;

  transition: font-size 250ms;
}

$verySmallScreens: 375px;
@media (max-width: $verySmallScreens) {
  .songInfo {
    text-align: center;
  }
}

@media (min-width: variables.$first-media-breakpoint) {
  .songInfo {
    font-size: .85rem;
    text-align: left;

    width: 100%;
  }
}

@media (min-width: variables.$second-media-breakpoint) {
  .songInfo {
    font-size: 1rem;
  }
}

.songTitle {
  font-size: 1.25em;

  max-width: 420px;

  margin: 0;
}

@media (min-width: variables.$first-media-breakpoint) {
  .songTitle {
    font-size: 1.5em;
  }
}

.songArtist,
.songDuration {
  font-size: 1em;
}

.songArtist {
  margin: 0;
}