@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;

  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 0;
}

img {
  display: block;

  max-width: 100%;
}

.unstyled-ul {
  list-style: none;
  padding: 0;
}

.btn {
  padding: 0;
  background: none;
  border: none;
}

.btn:focus,
.btn:hover {
  cursor: pointer;
}

// Typography

// Layout
.main-layout {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-height: 100vh;
}

.tooltip {
  position: absolute;

  padding: .5em .75em;
  background: #282c34;
}

.tooltip-text {
  color: #fff;

  margin: 0;
}

@media (min-width: $first-media-breakpoint) {
  .main-layout {
    flex-direction: row;
  }

  .overlay-component {
    background: $overlay-component-bg;
  }
}

.soft-rounded-corners {
  border-radius: 25%;
}

.hard-rounded-corners {
  border-radius: 15px;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.fading-component {
  transition: opacity 250ms;
}