// Fonts
$font-stack: 'Open Sans', sans-serif;
// =================================

// Colors
$song-list-contrast-color: #0074c2;
$song-hover-color: #00b2ed;

$primary-accent-color: #f0f0f0;

$primary-dark-color: #0097fc;
$secondary-dark-color: #0082d9;

$bar-color: gray;
$slider-color: #ff00c3;
$purple-color: #c9149f;

$grayed-out: rgba(0, 0, 0, 0.1);

$overlay-component-bg: #fff;
// =================================

// Widths
$first-cover-art-breakpoint: 236px;
$second-cover-art-breakpoint: 370px;
$third-cover-art-breakpoint: 470px;

$first-media-breakpoint: 620px;
$second-media-breakpoint: 709px;
//$third-media-breakpoint: 1290px;
//$fourth-media-breakpoint: 1550px;
//$fifth-media-breakpoint: 1400px;
$max-component-width-small-screens: 386px;