@import 'src/css/variables';

.add-entry-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 .25em;
  border-top: solid 2px $grayed-out;
}

.add-entry-section:hover .entry-btn {
  transform: scale(1.1);
}

.add-entry-section:active .entry-btn {
  transform: scale(1.05);
}