@import 'src/css/variables';

.directory {
  width: 91%;
  max-width: $max-component-width-small-screens;
  //max-height: 90%;

  // Very small padding on sides to keep the add (+) button from clipping
  //padding: 0 .05em;
  margin: auto;
}

.directory-entries {
  overflow-y: auto;

  max-height: 50vh;

  padding-right: 1em;
}

.directory-entry {
  // Generic grid
  // each directory will style their
  // entries different
  display: grid;
}

.directory-entry > * {
  margin: 0;
}

.songs-directory,
.opened-playlist-directory {
  .directory-entries {
  }

  .directory-entry {
    grid-template: 1fr auto 2px / auto 1fr;

    margin-bottom: 1em;
  }

  .loading-song-entry {
    pointer-events: none;
    opacity: .5;
  }

  .song-entry-info {
    grid-column: 1;
  }

  .song-entry-duration {
    grid-row: 1;
    grid-column: 2;

    text-align: right;
  }

  .song-entry-artist {
    margin-bottom: .25em;
  }

  .mini-song-bar-slider {
    grid-row: 3;
    grid-column: span 2;
  }
}

.playlists-directory {
  .playlist-entry-title {
    grid-column: 1;
  }

  .playlist-entry-song-count {
    text-align: right;

    grid-column: 2;
  }
}

.playlists-directory > * {
  grid-row: 1;
}