@import 'src/css/variables';

.directory {
  width: 91%;
  max-width: $max-component-width-small-screens;

  padding: 0 .5em;
  margin: auto;
  border: solid;
}

.directory-entries {
  overflow-y: auto;

  max-height: 35vh;

  padding-right: 1em;
}
@media (min-width: 700px) {
  .directory-entries {
    max-height: 45vh;
  }
}

.directory-entry {
  // Generic grid
  // each directory will style their
  // entries different
  display: grid;
  grid-column-gap: 1em;
}

.directory-entry > * {
  margin: 0;
}

.context-menu-btn {
  visibility: hidden;

  display: inline-block;

  $btnSize: 30px;
  width: $btnSize;
  height: $btnSize;

  margin-left: auto;

  box-shadow: -3px 0 5px #fff;
}

.directory-entry:hover {
  .context-menu-btn {
    visibility: visible;
  }

  .context-menu-btn:hover {
    background: #f0f0f0;
  }
}

.context-menu {
  position: absolute;

  padding: .5em .75em;
  margin-left: 30%;

  background: #f0f0f0;
}

.context-menu > *:hover {
  background: $grayed-out;
}

.context-menu-option {
  padding: .2em .4em;
  border-radius: 5px;
}

.songs-directory,
.opened-playlist-directory {
  .directory-entries {
  }

  .directory-entry {
    grid-template: 1fr auto 2px / auto .5fr;

    margin-bottom: 1em;
  }

  .context-menu-btn-area,
  .context-menu,
  .song-entry-title {
    grid-row: 1;
  }

  .loading-song-entry {
    pointer-events: none;
    opacity: .5;
  }

  .song-entry-info,
  .context-menu-btn,
  .context-menu {
    grid-column: 1;
  }

  .context-menu {
    grid-row: 1 / span 2;
  }

  .context-menu-btn {
    grid-row: 1;
  }

  .song-entry-duration {
    grid-row: 1;
    grid-column: 2;

    text-align: right;
  }

  .song-entry-artist {
    grid-row: 2;

    margin-bottom: .25em;
  }

  .mini-song-bar-slider {
    grid-row: 3;
    grid-column: span 2;
  }
}

.playlists-directory {
  .directory-entry {
    grid-template-columns: auto .25fr;
  }

  .directory-entry:not(.directory-entry:first-child) {
    padding-top: .25em;
    margin-top: .5em;
  }

  .playlist-entry-title,
  .context-menu-btn {
    grid-row: 1;
    grid-column: 1;
  }

  .playlist-entry-title {
    word-break: break-word;
  }

  .playlist-entry-song-count {
    text-align: right;

    grid-column: 2;
  }
}

.playlists-directory > * {
  grid-row: 1;
}