@import 'src/css/variables';

.library {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
}

.library-panel-btn {
  display: none;

  //background: none;
}

.directory-names {
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;

  //margin: 1em auto;
  margin: 0 auto;
}

.directory-names > * {
  // Keep the grid cells from growing too large
  width: max-content;
}

.directory-name {
  font-weight: 700;

  // Keep all directory names on one line
  grid-row: 1;
}

.directory-name:first-child {
  margin-left: auto;
}

.directory-name.active-directory:not(.opened-playlist) {
  padding-bottom: .25em;
  border-bottom: solid $grayed-out 2px;
}

.opened-playlist.active-directory:before {
  content: '↪';

  margin-right: .25em;
}

.opened-playlist {
  text-align: center;
  word-break: break-word;

  grid-row: 2;
  grid-column: span 2;

  width: initial;
}

.create-playlist-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  width: 100vw;
  height: 100vh;

  background: rgba(200, 200, 200, .9);

  .create-playlist-prompt {
    position: fixed;
    top: 50%;
    right: 35%;
    bottom: 50%;
    left: 35%;

    width: max-content;
    height: max-content;

    padding: 1em 2em;
    background: #fff;
  }

  #create-playlist-input {
    display: block;
  }
}

@media (min-width: $first-media-breakpoint) {
  .library,
  .library-panel-btn {
    top: 10%;
  }

  .library {
    $component-width: 40%;
    //color: #fff;

    position: fixed;
    right: -$component-width;
    z-index: 2;

    width: $component-width;
    max-width: 490px;

    padding: 1em 2em;

    transition: right 500ms;
  }

  .library-panel-btn {
    display: block;
    position: fixed;
    right: 2%;
  }

  //.open-library-btn {
  //  font-size: 2.5rem;
  //}
  //
  //.close-library-btn {
  //  // Ah, perfect
  //  font-size: 2.297rem;
  //}
  $libraryButtonMinSize: 30px;
  $libraryButtonMultiplier: 2;
  .open-library-btn {
    min-width: $libraryButtonMinSize * $libraryButtonMultiplier;
    min-height: $libraryButtonMinSize * $libraryButtonMultiplier;
    max-width: $libraryButtonMinSize * $libraryButtonMultiplier;
    max-height: $libraryButtonMinSize * $libraryButtonMultiplier;

    top: 15%;
    right: 5%;
  }

  .close-library-btn {
    // Keeps the close button above the library and the open button behind it
    z-index: 3;

    min-width: $libraryButtonMinSize;
    min-height: $libraryButtonMinSize;
    max-width: $libraryButtonMinSize;
    max-height: $libraryButtonMinSize;
  }

  .library-open {
    right: 0;
  }
}