@import 'src/css/variables';

.library {
  //color: #fff;
}

.library-panel-btn {
  display: none;

  background: none;
}

.directory-names {
  // Using grid instead of flexbox so I
  // don't have to deal with sentinel
  // value margins or set a width
  display: grid;
  // I use grid gap to achieve even spacing
  grid-column-gap: 1em;

  // Keep the grid cells from growing too large
  // for no reason
  width: max-content;

  margin: 1em auto;
}

.directory-name {
  font-weight: 700;

  // Keep all directory names on one line
  grid-row: 1;
}

.directory-name.active-directory {
  padding-bottom: .25em;
  // Todo - find a suitable color
  border-bottom: solid $grayed-out 2px;
}

@media (min-width: $first-media-breakpoint) {
  .library {
    $component-width: 40%;
    //color: #fff;

    position: fixed;
    right: -$component-width;
    z-index: 0;

    width: $component-width;
    max-width: 320px;
    height: 80%;
// TODO - remove or figure something out with this
    border-radius: 5% 0 0 5%;

    transition: right 500ms;
  }

  .library-panel-btn {
    display: block;
    position: fixed;
    right: 2%;
    z-index: 1;
  }

  .open-library-btn {
    font-size: 2.5rem;
  }

  .close-library-btn {
    // Ah, perfect
    font-size: 2.297rem;
  }

  .library-open {
    right: 0;
  }
}