@use '../variables';
@use '../mixins';

.fallbackText {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  margin-top: 0;
  margin-bottom: 2em;
}

.songsInLibrary {
  @include mixins.unstyledUl;

  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;

  min-height: 1vh;
  max-height: 75vh;

  padding-right: 1em;
}

.modalBtns {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2em;
  justify-content: center;
}