@use '../variables';

.mainLayout {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-height: 100vh;
}

@media (min-width: variables.$first-media-breakpoint) {
  .mainLayout {
    flex-direction: row;
  }
}